body {
    font-family: 'Lato', sans-serif;
}

/*-------------------Callout Formating*/

.callout-container {
   background-image: url ('../images/Gym.jpg');
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*-------------------Footer Formating*/

.footer-details {
    background-color: lightgrey;
}



.social-links i{
    width:56px;
    height: 56px;
    padding: 12px 0;
    border-radius:50%;
    font-size: 26px;
    line-height: 12px;
    text-align: center;
    color: #fafafa;
    vertical-align:center;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    moz-transition: all 0.35s ease-in-out;
    webkit-transition: all 0.35s ease-in-out;
    o-transition: all 0.35s ease-in-out;
}
/*-------------------Testimonies Formating*/



.card-container {
    height: 100;
}

.callout {
    margin-top: 10px;
}