body {
    font-family: 'Lato', sans-serif;
}
/*-------------------Navbar Formating*/
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

/*-------------------Callout Formating*/

.callout-container {
  height: 60vh;
  max-width: 500px;
  background: url("/images/home-page/gym3.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

display: flex;
align-items: center;
justify-content: center;
position: relative;
padding-top: 50px;

}

.opague-overlay {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-------------------Testimonies Formating*/

.testimonies-container {

}

/*-------------------Footer Formating*/

.footer-container {
height: 25vh;
}





/*-------------------Jumbotron Formating*/

.jumbotron {
    background-color: transparent;
    min-height: 200px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.jumbotron-header {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 20px;
}

@media screen and (max-device-width:480px){
.jumbotron-header {
    font-size: 25px;
}
}
.jumbotron-small {
    font-size:150%;
    font-style: italic;
    color: lightgray;
}

.jumbotron-lead {
    color: #fafafa;
    margin-top: 10px;
    padding-top: 5px;
}


/*-------------------Join Page Formating*/
.membership-image {
  
height: 100vh;
  background: url("/images/join-page/join-pic1.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
display: flex;
align-items: center;
justify-content: center;

}

.membership-header {
    font-weight: bold;
    color:#fafafa;

}

.membership-lead {
    color: #fafafa;
}




/*-------------------Social-Network Formating*/
.social-networks {
 text-align: center;
}

.social-networks li{
  display: inline;
}


.social-networks i{
font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #777777;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}




.social-networks i:hover {
    transform: scale(2.0)
}






.image {
text-align:  center;
  height: 100%;
  display: block;
  margin-top: 5px;
  background-size:cover;
}




/*-------------------Gallery Formating*/

.gallery {
    margin-left: 5;
    margin-right: 5;
}

.gallery-item img {
    height:320px;
    width:100%;
}

 @media screen and (max-device-width:480px){
.gallery-item img {
    height:auto;
    width:100%;
}
}
@media screen and (min-width:481px) and (max-width:600px){
.gallery-item img {
    height:auto;
    width:auto;
}
}
@media screen and (min-width:601px) and (max-width:1024px){
.gallery-item img {
    height:auto;
    width:100%;
}
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
.gallery-item img {
    height:auto;
    width:100%;
}
}

.navalert-container {
    padding-left: 0;
    padding-right: 0;
}


.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;